<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-webview" version="1.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>IQWebview</name>

	<js-module name="IQWebview" src="www/IQWebview.js">
		<clobbers target="IQWebview"/>
	</js-module>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="IQWebview">
				<param name="ios-package" value="IQWebview"/>
			</feature>
		</config-file>
		<source-file src="src/ios/IQWebview.m"/>
	</platform>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="IQWebview">
				<param name="android-package" value="com.iqiang.plugin.IQWebview"/>
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<activity android:launchMode="singleTask" android:name="com.iqiang.plugin.IQWebviewActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>
		</config-file>
		<source-file src="src/android/IQWebview.java" target-dir="src/com/iqiang/plugin"/>
		<source-file src="src/android/IQWebviewActivity.java" target-dir="src/com/iqiang/plugin"/>
	</platform>
</plugin>