<ion-header>
	<ion-navbar>
		<ion-title>我的</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-scroll class="me_content">
	<div class="liner"></div>
	<div class="collection white-color">
		<div class="item-header">
			<span class="item-left">头像</span>
			<div class="item-right"><img id="img_header" src="assets/icon/favicon.ico" alt="头像"></div>
		</div>
		<div class="line"></div>
		<div class="item">
			<span class="item-left">好友列表</span>
		</div>
		<div class="line"></div>
		<div class="item">
			<span class="item-left">我的位置</span>
		</div>
	</div>
</ion-content>