<ion-tabs>
  <ion-tab tabIcon="ios-home-outline" tabTitle="资讯" class="zixun" [root]="infoPage" tabsHideOnSubPages></ion-tab>
  <ion-tab tabIcon="ios-videocam-outline" tabTitle="视频" [root]="duowanPage" tabsHideOnSubPages></ion-tab>
  <ion-tab tabIcon="ios-flame-outline" tabTitle="赛事" [root]="matchPage" tabsHideOnSubPages></ion-tab>
  <ion-tab tabIcon="ios-bug-outline" tabTitle="聊天室" [root]="activityPage" tabsHideOnSubPages></ion-tab>
  <ion-tab tabIcon="ios-man-outline" tabTitle="我的" [root]="mePage" tabsHideOnSubPages></ion-tab>
</ion-tabs>
